@tailwind css;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #e0e0e0;
}

header {
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) 70%),
    url("./assets/img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.select-language {
  border: 1px solid #afafaf;
}

.select-language select option {
  color: #333;
}

.image-preview {
  display: grid;
  grid-template-areas: "container";
}

.image-preview > * {
  grid-area: container;
}

.dropdown .expand-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown .expand-icon span {
  display: block;
  background: #ddd;
  width: 0.2rem;
  height: 100%;
}

.dropdown .expand-icon span:last-child {
  transform: rotate(90deg) translateY(3px);
}

.dropdown-content {
  height: 0;
  display: none;
}

.dropdown.active .dropdown-content {
  display: block;
  height: fit-content;
}

.dropdown.active .expand-icon {
  transform: rotate(45deg);
}

footer a {
  color: inherit;
}

footer li {
  margin-top: 1rem;
}

#login {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) 70%),
    url("./assets/img/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.card {
  border: 1px solid #5e5e5e;
}

.card img {
  width: 100%;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 14px;
  }
}
